.selection-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selection {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 70% auto;
  gap: 25px;
}

.select-button {
  cursor: pointer;
  outline-style: none;
}

.details-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}